<!DOCTYPE html>
<html>

<head>
    <title>Admin DashBoard</title>
    <link rel="stylesheet" type="text/css" href="/in.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>



    <style>
        body {
            background: url(image/liam-truong-YjWW9-VJlw4-unsplash.jpg) no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;
        }
    </style>
</head>